.container {
  width: 100vw;
}

.main {
  margin: 0 auto;
  padding: 2rem;
  min-height: 80vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 2rem;
}

.card {
  aspect-ratio: 1 / 1;
  background: #f4f4f4;
  border: 2px dashed #ccc;
  border-radius: 12px;
}